$shadow: rgba(147, 147, 147, 0.5);
$off-white: #e8ecef;

body {
  background-color: $off-white;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: $off-white;
  background-color: #000;
}

.google {
  background-color: hsl(7, 71%, 55%);
  color: $off-white;
  // transition: 0.15s;

  &:focus {
    box-shadow: 0 0 0 0.2rem $shadow;
  }

  &:hover {
    background-color: hsl(7, 71%, 45%);
    color: $off-white;
  }
}

.facebook {
  background-color: hsl(221, 44%, 41%);
  color: $off-white;
  // transition: 0.15s;

  &:focus {
    box-shadow: 0 0 0 0.2rem $shadow;
  }

  &:hover {
    background-color: hsl(221, 44%, 31%);
    color: white;
  }
}
