body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.google {
  background-color: hsl(7, 71%, 55%);
  color: white;
  // transition: 0.15s;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(117, 108, 108, 0.5);
  }

  &:hover {
    background-color: hsl(7, 71%, 45%);
    color: white;
  }
}
